<!DOCTYPE html>

<html lang="en">
    <head>
        <br>
        <div class="header">
            <a href="/">HOME</a>
            <a href="/parts">COMPUTER PARTS</a>
            <a href="/types">COMPUTER TYPES</a>
        </div>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/styles.css" rel="stylesheet">
        <title>About Computer</title>
    </head>
    <br>
    <body>
        <div class="margin">
            <h3>
                COMPUTER HESTORY
            </h3>
            <hr>
            <p>
                <mark>The first digital computer</mark> and what most people think of as a computer was called the ENIAC.<br> It was built during World War II (1943-1946) and was designed to help automate the calculations being done by human computers.<br> By doing these calculations on a computer, they could achieve results much faster and with fewer errors.<br>
Early computers like the ENIAC used vacuum tubes and were large (sometimes room size) and only found in businesses, universities, or governments.<br> Later, computers began utilizing transistors as well as smaller and cheaper parts that allowed the ordinary person to own a computer.
            </p>
            <br>
            <p>
                <mark>The first mechanical computer</mark> was in 1822, Charles Babbage conceptualized and began developing the Difference Engine, <br>which is considered the first automatic computing machine. The Difference Engine was capable of computing several sets of <br>numbers and making hard copies of the results. Babbage received some help with the development<br> of the Difference Engine from Ada Lovelace, considered to be the first computer programmer for her work. Unfortunately, because of funding,<br> Babbage was never able to complete a full-scale functional version of this machine. In June 1991,<br> the London Science Museum completed the Difference Engine No 2 for the bicentennial year of Babbage's birth and later completed the printing mechanism in 2000.<br>
In 1837, Charles Babbage proposed the first general mechanical computer, the Analytical Engine. The Analytical Engine<br> contained an ALU (Arithmetic Logic Unit), basic flow control, punch cards (inspired by the Jacquard Loom), and integrated memory.<br> It is the first general-purpose computer concept. Unfortunately, because of funding issues, this computer was also never built while Charles Babbage was alive.<br> In 1910, Henry Babbage, Charles Babbage's youngest son, was able to complete a portion of this machine and perform basic calculations.
            </p>
        </div>
        <br>
        <div class="center">
                <img class="size" src="https://wallpapercave.com/wp/XHo2Hub.jpg">
        </div>
        <br>
        <br>
        <div class="margin">
            <h3>
                HOW ARE COMPUTER USED TODAY ?
            </h3>
            <hr>
            <p>
                Today, computers make jobs that used to be complicated much simpler. For example, you can write<br> a letter in a word processor, edit it anytime, spell check, print copies, and send it to someone across the<br> world in a matter of seconds. All these activities would have taken someone days, if not months,<br>to do before. Also, these examples are a small fraction of what computers can do.
            </p>

        </div>
        <br>
        <br>
    </body>
</html>
