<!DOCTYPE html>

<html lang="en">
    <head>
        <br>
        <div class="header">
            <a href="/">HOME</a>
            <a href="/about">ABOUT COMPUTER</a>
            <a href="/types">COMPUTER TYPES</a>
        </div>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/styles.css" rel="stylesheet">
        <title>Computer Parts</title>
    </head>
    <br>
    <body>
        <div>
            <h3>
                 COMPUTER PARTS
            </h3>
        </div>
        <hr>
        <br>
        <div class="margin">
            <h3>
                CPU(Processor)
            </h3>
            <p>
                Alternately referred to as a processor, central processor, or microprocessor,<br> the CPU (pronounced sea-pea-you) is  the central processing unit of the computer. A computer's CPU handles all<br> instructions it receives from hardware and software running on the computer.
            </p> <br> <img src="https://www.computerhope.com/jargon/c/cpu.jpg">
        </div>
        <br>
        <div class="margin">
            <h3>
                Motherboard
            </h3>
            <p>
                Alternatively referred to as the mb, mainboard, mboard, mobo, mobd, backplane board, base board, main circuit board,<br> planar board, system board, or a logic board on Apple computers. The motherboard is a printed circuit<br> board and foundation of a computer that is the biggest board in a computer chassis.<br> It allocates power and allows communication to and between the CPU, RAM, and all other computer hardware components.
            </p> <br> <img src="https://www.computerhope.com/jargon/m/motherboard-small.jpg">
        </div>
        <br>
        <div class="margin">
            <h3>
                RAM(Memory)
            </h3>
            <p>
                Computer memory is any physical device capable of storing information temporarily,<br> like RAM (random access memory), or permanently, like ROM (read-only memory). Memory devices utilize<br> integrated circuits and are used by operating systems, software, and hardware.
            </p> <br> <img src="https://www.computerhope.com/jargon/m/memory-ddr4.jpg">
        </div>
        <br>
        <div class="margin">
            <h3>
                Hard Drive
            </h3>
            <p>
                A hard disk drive (sometimes abbreviated as a hard drive, HD, or HDD) is a non-volatile data storage device.<br> It is usually installed internally in a computer, attached directly to the disk<br> controller of the computer's motherboard. It contains one or more platters, housed inside of<br> an air-sealed casing. Data is written to the platters using a magnetic head,<br> which moves rapidly over them as they spin.
            </p> <br> <img src="https://www.computerhope.com/jargon/h/hard-drive.jpg">
        </div>
    </body>
</html>
