<!DOCTYPE html>

<html lang="en">
    <head>
        <br>
        <div class="header">
            <a href="/">HOME</a>
            <a href="/about">ABOUT COMPUTER</a>
            <a href="/parts">COMPUTER PARTS</a>
        </div>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/styles.css" rel="stylesheet">
        <title>Computer Types</title>
    </head>
    <br>
    <body>
        <div class="margin">
            <h3>
                COMPUTER TYPES
            </h3>
            <hr>
            <br>
        </div>
        <div class="center"> <img src="https://www.computerhope.com/cdn/computers.jpg"> </div> <br>
        <div class="margin tablee">
            <table>
                <tr>
                    <th>
                        Type Name
                    </th>
                    <th>
                        Definetion
                    </th>
                </tr>
                <tr>
                    <td>
                        Desktop computer
                    </td>
                    <td>
                        A desktop computer is a computer that fits on or under a desk.
                    </td>
                </tr>
                <tr>
                    <td>
                        Laptop
                    </td>
                    <td>
                        a portable computer that is more efficient,<br> and nearly as powerful, as a desktop computer.
                    </td>
                </tr>
                <tr>
                    <td>
                        Netebook
                    </td>
                    <td>
                         portable computer about half the size of a traditional laptop
                    </td>
                </tr>
                <tr>
                    <td>
                        Hybrid
                    </td>
                    <td>
                        A 2-in-1 PC comprises a screen and a detachable keyboard
                    </td>
                </tr>
                <tr>
                    <td>
                        Tablet
                    </td>
                    <td>
                        a mobile computing device designed to be held in one or two hands
                    </td>
                </tr>
                <tr>
                    <td>
                        Smartphone
                    </td>
                    <td>
                        a mini computer that can browse the Internet<br> and run software programs like a computer
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <br>
    </body>
</html>
